name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    steps:
    - uses: actions/checkout@v3

    - uses: ./.github/actions/build

    - uses: codecov/codecov-action@v2
      if: ${{ env.CODECOV_TOKEN }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
